*{
    font-family: 'Gugi', cursive;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.sec-nav{
    flex-direction: column;
    background: rgba(63,63,63,0.8);
    padding: 5px 15px;
    display: none !important;
    position: absolute;
}

.sec-nav-show{
    display: block !important;
}

#grayscale{
    background: linear-gradient(rgba(211,211,211,0.5), rgba(211,211,211,0.5)),url("../images/bikr.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

#tools-background{
    background:url("../images/EBIKE_TOOL_SET_3.png");
    background-repeat: no-repeat;
    background-size: 432px;
    background-position: right;
    background-attachment: fixed;
}
section h2{
    text-align: center;
    color: #6fb245;
}

section h2::after, section h2:before{
    position: absolute;
    width: 47px;
    border-radius: 3px;
    height: 4px;
    margin-top: 10px;
    right: 30%;
    content: " ";
    line-height: 0;
    background: #6fb245;
}
section h2:before{
    left: 30%;
}

#play .fa.fa-play-circle{
    position: absolute;
    color: beige;
    z-index: 99999;
    top: 41%;
    right: 46%;
    transform: rotate(-360deg);
    transition: ease 1s;
}

#play .fa.fa-play-circle:hover{
    transform: rotate(360deg);
    transition: ease 1s;
    cursor: pointer;
}

/*#cover-video{
    display: none;
}*/

#calendar table tr{
    border: 2px solid;
}

#calendar table td{
    border: 1px solid;
}

footer{
    background: black;
    color: white;
    margin-top: 0px;
    padding: 2em 0px;
    border-top:4px solid #6fb245;
}

#top, #copyright{
    width: 80%;
    margin: 0 auto;
}