@media only screen and (min-width:64em){
     /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    header .subheading {
    width: 83%;
    }
    main figure{
        width: 100%;
        float: inherit;
    }
    .summary {
        display: inline-flex;
        width: 100%;
        float: inherit;
    }
    main figure img {
        margin-left: 0;
        height: 480px;
    }
    .highlow p {
    width: 56%;
    }
    .current{
        width: 13%;
        margin: 0 auto;
        flex-direction: row;
    }
    .current h4 {
        float: inherit;
        padding: inherit;
    }
    .current picture{
        position: inherit;
    }
  article p.town-article img { width: 29.333%; }
    
    /*Gallery Page*/
    
    .gallery.page #container{
    display: grid;
    grid-template-columns: auto auto auto;
    }
    .item img{
    height: 60%;
    }
    
    /************************* Storm Center *****************************************/
    .stormcenter fieldset {
        width: 70%;
    }
    .stormcenter #submit input {
        margin: 0 0 0 15%;
        width: 20%;
    }
    /*
    #firstName, #lastName{
        width: 50%;
    }
    #fullName input {
        width: 78%;
    }
    #email input {
        width: 86%;
    }
    #numberZips label, #stormDate label{
        margin: 0;
        width: inherit;
    }
    #numberZips input {
        width: 34%;
    }
    #stormType label {
        margin: 0;
    }
    #stormType input, #stormDate input {
        width: 80%;
        margin: 0 0 0 15px;
    }
    .stormcenter #severity {
        display: inherit;
    }
    
    #regions, #dangerLevel, message{
        width: 100%;
    }*/
}