/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
    background:linear-gradient(30deg,#f1f1f1,#f6f6f6);
    margin-top: -26px;
  /* Declare the base font-family - from google font api or other */
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

header {
    display: block;
    background: white;
    padding: 0 2%;
}
header h1 {
    font-size: 31px;
}
header img {
    float:left;
    width: 64px;
    height: 76px; 
    margin: 5px;
}
header .subheading {
    margin: 0 auto;
    font-size: 19px;
}

nav {
    position: absolute;
    top: 24px;
    right: 7px;
}

nav ul {
    display: none;
    position: absolute;
    right: 0;
    background: #93c47d;
    padding: 0;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    width: 200px;
    height: 40px;
    display: block;
    text-align: center;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    line-height: 2;
}
nav ul li.active a {
    background: #6aa84f;
    color: white;
}
nav ul li a:hover {
    background: #6aa84f;
    color: white;
}

.navigationClass{
    display: block;
    transition: 5s ease;
}

main{
    width: 100%;
    margin: 0 auto;
}
main h2 {
    text-align: center;
    color: #6aa84f;
}
main figure {   
    width: 100%;
    margin: 0 !important;
}
main figure img { width: 100%; }

section h3{
    text-align: center;
}
.current{
    display: block;
    width: 216px;
    margin: 0 auto;
}
.current h4{
    padding: 20px;
    float: left;
}
.highlow{
    display: block;
    margin: 0 auto;
    width: 49%;
}
.highlow p{
    width: 100px;
    float: left;
}
.conditions{
    width: 60%;
    margin: 0 auto;
}
.forecast{
    display: none;
}
article{
    max-width: 100%;
    border: 1px solid lightgray;
    padding: 8px;
    background: white;
}
article h3{
    text-align: center;
}
article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
  width: 100%; /* fill the page in the small/phone view */
  margin: 0 auto;
}

footer {
    width: 100%;
    margin: 0 auto;
}
footer aside {
    background-color: #93c47d;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px 43px;
}
footer aside p{
    max-width: 189px;
    margin: 0 auto;
    line-height: 1.45;
    text-align: center;
}
footer>p {
    font-size: 14px;
    background: #38761d;
    color: white;
    margin: 0;
    padding: 14px 3px;
    text-align: center;
} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */