@media only screen and (min-width:64em){
     /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    header .subheading {
    width: 83%;
    }
    main figure{
        width: 95%;
        float: inherit;
    }
    .summary {
        display: inline-flex;
        width: 100%;
        float: inherit;
    }
    .current h4 {
        left: 88%;
    }
    .current picture {
        right: 9%;
        top: inherit;
    }
  article p.town-article img { width: 29.333%; }
    footer aside p {
        max-width: 21%;
    }
}